#container {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-column-gap: 10px;
}
.buttons {
    color: yellow;
    width: 8em;
    height: 12em;
    border: 2px solid black;
}